# Build
/target/

# Assets
cities1000.sqlite
cities1000.txt

# Images (allow in exampels/)
*jpg
*jpeg
*png
*tif
!examples/*jpg
!examples/*jpeg
!examples/*png
!examples/*tif
!assets/icon.png

# metadata files linguring around
metadata.yml
metadata.yaml
!examples/metadata.yml
!examples/metadata.yaml
